.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  width: 350px;
  height: 350px;
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 35px;
  text-align: center;
}
.button {
  background-color: #f8fafc;
  color: #303150;
  padding: 10px 16px;
  border-radius: 6px;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
}
